{% extends 'base.html'%}
{% import 'macro.html' as macro %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="/app/static/style.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

























<center>

    <h3 class="text-center badge badge-dark header  " style=" text-align:center;font-size: 40px; text-transform: capitalize;font-family: 'Kanit', sans-serif;
font-weight: bold;">
        ~ NEWS SOURCE <span class="blinking-cursor ">~</span></h3>

</center>
<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/a2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

<div class="container news mt-5">
    <div class="row">
        {% for news in new_sources %}
        <a class="col-md-4" href="/news/{{news.id|truncate(10)}}">

            <div class="  news-card" style="box-shadow: 2px 2px 15px;">

                <div class="card-body ">
                    <img src="https://i.pinimg.com/474x/26/91/f2/2691f2fa1a0f078f5f274edf7fea6763.jpg" alt=""
                        class="img-responsive">
                    <div class="text-center jumbotron">
                        <p style="text-transform: capitalize ">
                            Id: {{news.id}} <br>
                            Name: {{news.name}} <br>
                            Link: {{news.url}} <br>
                            Category: {{news.category}} <br>
                            Language: {{news.language}} <br>
                            Country: {{news.country}} <br>
                        </p>
                    </div>

                </div>

            </div>
        </a>
        {% endfor %}
    </div>

    {% endblock %}